
<head>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/managerProducts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/modalNewProduct.css" rel="stylesheet" type="text/css" />
</head>

@model sisCommerce.Models.ProductsShoppingListViewModel

@{
    ViewBag.Title = "ManagerProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("InsertProducts", "Products", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="container">

        <div class="row grid-divider">
            <div class="col-sm-6">
                <div class="col-padding">
                    <h3>Inserir Produtos</h3>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name (Full name)">Nome</label>
                        <input type="text" class="form-control" name="name" placeholder="Nome" required>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name (Full name)">Descrição</label>
                        <input type="text" class="form-control" name="description" placeholder="Descrição" required>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name (Full name)">Preço</label>
                        <input type="number" class="form-control" name="price" step="00.01" placeholder="Preço" required />
                    </div>
                    <!-- modelItem => item.prodList.FirstOrDefault().  -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name (Full name)">Quantidade</label>
                        <input type="number" class="form-control" name="quantify" placeholder="Quantidade" required>
                    </div>

                    <div class="form-group">
                        <input id="image64" type="hidden" class="form-control" name="image_base64" placeholder="image64" required>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name (Full name)">Anexar</label>
                        <input id="image" onchange="getImageFile();" type="file" class="form-control" name="image" placeholder="Imagem" required>
                        <!-- setar base64 em outro lugar-->
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-default" />
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-padding">
                    <h3>Foto do Produto</h3>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-6"><img id="img" class="img-responsive" /></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getImageFile() {
            var files = document.getElementById('image').files;
            if (files.length > 0) {
                getBase64(files[0]);
            }
        }

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                console.log(reader.result);
                document.getElementById('img').setAttribute('src', reader.result);
                document.getElementById('image64').setAttribute('value', reader.result);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
    </script>
}

<table id="example" class="display" cellspacing="0" width="100">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Foto</th>
        </tr>
    </thead>
    <!--<tfoot>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Foto</th>
        </tr>
    </tfoot>-->
    <tbody>

        @foreach (var item in Model.Products)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.price)</td>
                <td>@Html.DisplayFor(modelItem => item.quantify)</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
